@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Lines
  @import Slope
  @import Preziti
  @import Lecenost

body
  font-family Roboto, helvetica, sans-serif
.ig .unit
  display block
  color #6
  font-style italic
  margin-left 69px
  margin-bottom 8px
  margin-top 8px
